<head>
  <title>Meteor Meter</title>
</head>

<body>
  <div id="outer">
    {{> posts}}
  </div>
</body>

<template name="posts">
  <div class="timer">
    {{timer}}
  </div>
  <div class="posts">
    {{#each postings}}
      {{> post}}
    {{/each}}
  </div>
</template>

<template name="post">
  <div class="post">
    <div class="content">
      <span class="score">{{score}}</span>
      <span class="title">{{title}}</span>
    </div>        
    <div>
      {{body}}
    </div>
    <div class="votes">
      <div class="score">
        <a class="upvote">Vote Up</a> | <a class="downvote">Vote Down</a>
      </div>
    </div>
  </div>
</template>